body {
    background-color: #E6E6E6;
    color: #297373;
    font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: #FF8552;
    text-decoration: none ;
}
a:hover {
    text-decoration: underline ;
}
iframe {
    border: 0;
}
#page_wrapper {
    width: 800px ;
    margin-right: auto ;
    margin-left: auto ;
}
#game_wrapper {
    text-align: center;
}